	body
	{
		font-size: 30px;
	}
	#pageform
	{
		background:#d3d3d3;
		width:900px;
		padding-bottom:20px;
		padding-top:30px;
		margin-top:100px;
		font-size: 30px;
	}
	#recordstable 
	{
	width:880px;
	border-collapse: collapse;
	border-spacing: 0;

	
	}
	#recordstable tr:nth-child(odd)
	{
		padding: 15px;
		background-color: #9DAAB2;
	}
	tr
	{
		text-align: left;
	}
	td, th
	{
		font-size: 18px;
		padding:5px;
	}

	#pageform input[type="text"], input, select
	{
    font-size:24px;
	}


	#Send
	{
		background-color: #9DAAB2;
	}

	#links
	{

		border: 2px dashed grey;
		width: 300px;
		padding:5px;
	}
	#chosen
	{
		border: 2px dashed grey;
		z-index:10;
		width: 300px;
		padding:5px;
	}


	img
	{
		width:40px;
		height:40px;
	}		
	#input-error
	{
		text-align: center;
		background:#ff7f7f;
		width:970px;
		padding:20px;
		font-size: 18px;
	}
	#records
	{
		height:400px;
		overflow:auto;
		width:900px;
		padding:10px;
		margin-top:20px;
		font-size: 30px;
	}

	.button {        
	    display: inline-block;
	    white-space: nowrap;
	    background-color: #ccc;
	    background-image: linear-gradient(top, #eee, #ccc);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	    border: 1px solid #777;
	    padding: 0 .5em;
	    margin: 0.5em;
	    font: bold 24px Arial, Helvetica;
	    text-decoration: none;
	    color: #333;
	    text-shadow: 0 1px 0 rgba(255,255,255,.8);
	    border-radius: .2em;
	    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	}

	.button:hover {
	    background-color: #ddd;        
	    background-image: linear-gradient(top, #fafafa, #ddd);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
	}

	.button:active {
	    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	    position: relative;
	    top: 1px;
	}

	.button:focus {
	    outline: 0;
	    background: #fafafa;
	}    

	.button:before {
	    background: #ccc;
	    background: rgba(0,0,0,.1);
	    float: left;        
	    width: 1em;
	    text-align: center;
	    font-size: 1.5em;
	    margin: 0 1em 0 -1em;
	    padding: 0 .2em;
	    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	    border-radius: .15em 0 0 .15em;
	    pointer-events: none;        
	}

	/* Hexadecimal entities for the icons */

	.add:before {
	    content: "\271A";
	}

	.edit:before {
	    content: "\270E";        
	}

	.delete:before {
	    content: "\2718";        
	}

	.save:before {
	    content: "\2714";        
	}

	.email:before {
	    content: "\2709";        
	}

	.like:before {
	    content: "\2764";        
	}

	.next:before {
	    content: "\279C";
	}

	.star:before {
	    content: "\2605";
	}

	.spark:before {
	    content: "\2737";
	}

	.play:before {
	    content: "\25B6";
	}